*{
    font-family: sans-serif;
}

body{
    background-color: #2E468C !important;
    background-image: url('../image/bgku.png');
    background-repeat: no-repeat;
    background-size: cover;
}

header::before{
    content: ' ';
    display: block;
    width: 350px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    height: 350px;
    left:-120px;
    top:-120px;
    opacity: 0.3;
    animation: spin 16s infinite linear;
}

.header-caption{
    color: #2E468C;
    background-color: #8DA0D6;
    border-radius: 10px;
    display: inline-block;
    font-weight: bold;
}

.header-text{
    text-shadow: 1px 2px 2px rgb(63, 63, 63);
    font-size: 60px;
}

.img-illustration{
    height: 400px;
    object-fit: cover;
}

.header-subtext{
    font-size: 18px;
    line-height: 2;
    max-width: 500px;
    font-weight: lighter;
}

.text-gray{
    color: #B5B5B5;
}

.btn-corona-detail:hover{
    border-bottom: 3px solid #e79600;
}

.btn-corona-detail{
    border-bottom: 3px solid transparent;
}

.bg-dead{
    background-color: #ca1f1f !important;
}

.bg-recovered{
    background-color: #37b14d !important;
}

.bg-confirmed{
    background-color: #e79600 !important;
}

.report::before{
    content: ' ';
    height: 20px;
    border-radius: 30px;
    display: inline-block;
    background-color: red;
    width: 20px;
    margin-right: 10px;
    border: 2px solid black;
}

.report h3{
    font-size: 26px;
    display: inline-block;
}

.report p{
    font-size: 16px;
    font-weight: lighter;
    line-height: 2;
    color: #B5B5B5;
    text-align: justify;
}

.footer{
    font-size:14px;
    font-weight: lighter;
    color: #B5B5B5;
}

@media (max-width:1200px){
    body{
        padding-bottom:50px;
    }
    
    .header-text{
        text-shadow: 1px 2px 2px rgb(63, 63, 63);
        font-size: 45px;
    }

    .header-subtext{
        font-size: 18px;
    }

    .header-caption{
        font-size:16px
    }

    .btn-corona-detail > h2{
        font-size: 25px;
    }
}

@media (max-width:1000px){
    /* body{
        background-position: 300px 50px;
        background-size: 100%;
    } */

    .btn-corona-detail > h2{
        font-size: 25px;
    }

    .header-caption{
        font-size:14px
    }
}

@media (max-width:991px){
    body{
        height:auto;
    }

    .header-subtext{
        margin-left:auto;
        margin-right:auto;
        font-size: 16px;
    }
}


/* @media (max-width:579px){
    body{
        background-position: 150px 100px;
        background-size: 100%;
    }
} */

/* @media (max-width:320px){
    body{
        background-position: 50px 300px;
        background-size: 100%;
    }
} */